<h3>@ViewBag.Message</h3>

<p>
    This online shopping portal is part of the assessment for Massey University paper 158.258 Web Development.
    <br/><br/>
    The basis of this course is to explore a selection of topics and technologies relevant to the design and
    creation of web-based systems. For example, this assignment uses a MVC Model / View / Controller paradigm 
    - a design principle for separating a computer program into distinct sections where each addresses a separate concern. 
    <br/><br/>
    Among others benefits, MVC supports rapid and parallel development, and the ability to provide multiple views. 
    <br/><br/>
    It was both interesting and fun to design this online store website built around the MVC model.
    <br/><br/>
</p>
