@{
    ViewBag.Title = "Contact";
}
<h3>@ViewBag.Message</h3>

<address>
    <p>
    Student id: 92031083<br />
    Massey University<br />
    <abbr title="Phone">P:</abbr>
    022 315 4444
    </p>
</address>
<br /><br />
<address>
    <p>
        <strong>Support:</strong>   <a href="mailto:92031083@massey.ac.nz">92031083@massey.ac.nz</a>
        <br />
        <strong>Marketing:</strong> <a href="mailto:peter.whyte@live.co.uk">peter.whyte@live.co.uk</a>
    </p>
</address>